body {
  padding: 0% 10%;
}

#app-carousel {
  overflow: hidden;
}

.lowerContainer {
  display:flex;
  flex-direction:row;
  justify-content: space-around;
}

#root {
  display:flex;
  flex-direction:column;
  margin-left: 5%;
}
#root-details {
  display:flex;
  flex-direction:column;
  margin-left: 5%;
}
.header {
  text-align: center;
  margin-right: 15%;
  font-size: 1.9em;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: #f1641e;
  border-bottom-color: #dedede;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  margin-bottom: 5%;
}
