body {
  padding: 5% 10%;
}

#app-carousel {
  overflow: hidden;
}

.lowerContainer {
  display:flex;
  flex-direction:row;
  justify-content: space-around;
}

#root {
  display:flex;
  flex-direction:column;
  margin-left: 5%;
}
#root-details {
  display:flex;
  flex-direction:column;
  margin-left: 5%;
}
